<h1> Mes réservations </h1>
  <% @bookings.each do |booking| %>
    <div class="card-product">
    <%= cl_image_tag "#{booking.plant.photo}" %>
      <div class="card-product-infos">
        <h2><%= booking.plant.name%></h2>
        <p><%= booking.plant.family%></p>
        <p><strong><%= booking.time * booking.plant.price_per_day %>€</strong></p>
        <%=link_to "Réserver a nouveau", plant_bookings_path, class: 'button' %>
      </div>
    </div>
  <% end %>
