<div class="container">

  <div class="photo_container">
    <p id="plant_photo" >
      <%= cl_image_tag "#{@plant.photo}", :width=>100 %>
    </p>
  </div>

  <div class="plant_details">
    <ul>
      <li><%= @plant.name %></li>
      <br>
      <li><%= @plant.family %></li>
      <br>
      <li><%= @plant.water %></li>
      <li><%= @plant.sun %></li>
      <li><%= @plant.ext_int%></li>
      <li><%= @plant.size_cm%></li>
      <li><%= @plant.flowers%></li>
      <li><%= @plant.description %></li>
    </ul>
  </div>

  <div class="book_and_back">
    <%= @plant.price_per_day%>
<p>formulaire</p>
    <%=link_to "Back to list", plants_path, class: 'btn btn-primary' %>

  </div>

</div>
