<div class="container-show">

  <div class="photo-container">
   <%= cl_image_tag "#{@plant.photo}", class:"plant-photo"%>
  </div>

  <div class="plant-details">

    <div class="namefamily">
      <h2 id="name"><%= @plant.name %></h2>
      <p id="family"><%= @plant.family %></p>
    </div>

    <div class="titreentretien">
      <p> Entretien </p>
    </div>



    <div class="infos">

      <div class="entretien">

        <div id="water"><p><i class="fas fa-tint"></i>  eau </p>
          <p class="textcentre"><%= @plant.water %></p>
        </div>

        <div id="sun"><p><i class="fas fa-sun"></i>  soleil</p>
          <p class="textcentre"><%= @plant.sun %></p>
        </div>

      </div>

      <div class="localisation">

        <div id="ext_int"><p><i class="fas fa-thermometer-half"></i>  emplacement</p>
          <p class="textcentre"><%= @plant.ext_int%></p>
        </div>

        <div id="size"><p><i class="fas fa-ruler-combined"></i>  taille</p>
          <p class="textcentre"><%= @plant.size_cm%> centimètres</p>
        </div>

      </div>

    </div>

    <div class="citation">
      <div id="motproprio">Un petit mot de mon propriétaire...</div>
      <div id="description">"<%= @plant.description %>"</div>
    </div>

  </div>

  <div class="book-and-back">
    <%= @plant.price_per_day%>
<p>formulaire</p>
    <%=link_to "Back to list", plants_path, class: 'btn btn-primary' %>

  </div>

</div>
