<div class="container-show">

  <div class="photo-container">
   <%= cl_image_tag "#{@plant.photo}", class:"plant-photo"%>
  </div>

  <div class="plant-details">
      <h2 class="detail" id="name"><%= @plant.name %></h2>
      <div class="detail" id="family"><%= @plant.family %></div>
      <div class="detail" id="water"><%= @plant.water %></div>
      <div class="detail" id="sun"><%= @plant.sun %></div>
      <div class="detail" id="ext_int"><%= @plant.ext_int%></div>
      <div class="detail" id="size"><%= @plant.size_cm%></div>
      <div class="detail" id="flowers"><%= @plant.flowers%></div>
      <div class="detail" id="motproprio">Un petit mot de mon propriétaire...</div>
      <div class="detail" id="description">"<%= @plant.description %>"</div>

  </div>

  <div class="book-and-back">

  <h1>New booking</h1>
  <%= @plant.price_per_day%> €/jour
  <%= simple_form_for ([@plant, @booking]) do |f| %>
  <%= f.input :time %>
  <%= f.button :submit , class: 'btn btn-success'  %>
  <% end %>




<%=link_to "Back to list", plants_path, class: 'btn btn-success' %>

</div>
</div>

