<div class="container-show">

  <div class="left">

    <div>
      <%= cl_image_tag "#{@plant.photo}", class:"plant-photo"%>
    </div>
    <div id="backbutton">
      <%=link_to "Retour", plants_path, class: 'button' %>
    </div>
  </div>


  <div class="plant-details">

    <div class="namefamily">
      <h2 id="name"><%= @plant.name %></h2>
      <p id="family"><%= @plant.family %></p>
    </div>

    <div class="infos">

      <div class="entretien">

        <div id="water"><p>Eau</p>
          <p class="textcentre"><i class="fas fa-tint padding-icon"></i><%=@plant.water %></p>
        </div>

        <div id="sun"><p>Soleil</p>
          <p class="textcentre"><i class="fas fa-sun padding-icon"></i><%=@plant.sun %></p>
        </div>

      </div>

      <div class="localisation">

        <div id="ext_int"><p>Emplacement</p>
          <p class="textcentre"><i class="fas fa-thermometer-half padding-icon"></i><%=@plant.ext_int%></p>
        </div>

        <div id="size"><p>Taille</p>
          <p class="textcentre"><i class="fas fa-ruler-combined padding-icon"></i><%=@plant.size_cm%> centimètres</p>
        </div>

      </div>

    </div>

    <div class="citation">
      <div id="motproprio">Un petit mot de mon·ma propriétaire...</div>
      <div id="description">"<%= @plant.description %>"</div>
    </div>


  </div>

  <div class="book-and-back">

  <div class="prix">
    <p id="prixeneuros"><%= @plant.price_per_day%> €</p>
    <p>/ jour</p>
  </div>

  <div class="formbooking">
  <p> Je souhaite louer cette plante. Elle me sera livrée à l'adresse et au jour de mon choix.</p>
  <div id="form"><%= simple_form_for ([@plant, @booking]) do |f| %>
  <%= f.input :time , label:"Nombre de jours" %>
  <%= f.button :submit ,"Réserver", class: 'button'  %>
  <% end %>
  </div>
</div>
</div>





</div>

