<div class="container-show">

  <div class="photo-container">
   <%= cl_image_tag "#{@plant.photo}", class:"plant-photo"%>
  </div>

  <div class="plant-details">
    <ul>
      <li><%= @plant.name %></li>
      <br>
      <li><%= @plant.family %></li>
      <br>
      <li><%= @plant.water %></li>
      <li><%= @plant.sun %></li>
      <li><%= @plant.ext_int%></li>
      <li><%= @plant.size_cm%></li>
      <li><%= @plant.flowers%></li>
      <li><%= @plant.description %></li>
    </ul>
  </div>

  <div class="book-and-back">
    <%= @plant.price_per_day%>
<p>formulaire</p>
    <%=link_to "Back to list", plants_path, class: 'btn btn-primary' %>

  </div>

</div>
